annotated-types==0.7.0
asyncio-atexit==1.0.1
asyncpg==0.30.0
Deprecated==1.2.18
dotenv==0.9.9
emoji==2.14.1
grapheme==0.6.0
greenlet==3.2.4
mss==10.1.0
pydantic==2.11.9
pydantic_core==2.33.2
python-dotenv==1.1.1
SQLAlchemy==2.0.43
typing-inspection==0.4.1
typing_extensions==4.15.0
websockets==15.0.1
wrapt==1.17.3
zendriver==0.14.2